.current-date {
    text-transform: uppercase;
    color: red;
    font-size: 2rem;
}

.current-description {
    color: blue;
    text-transform: uppercase;
    font-weight: 500;
}

.current-info {
    display: grid;
    width: fit-content;
    margin: 0 auto;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    padding: 10px;
    font-weight: 600;
    &__item1, &__item2,&__item3,&__item4,&__item5 {
        line-height: 1em;
    }
    &__item1 {
        grid-column-start: 1;
        grid-column-end: 2;
        color: peru;
        &::after{
            content: '%';
        }
    }

    &__item2 {
        grid-column-start: 2;
        grid-column-end: 3;
        color: darkolivegreen;
        &::after{
            content: ' km/h'
        }
    }

    &__item3 {
        grid-column-start: 3;
        grid-column-end: 4;
        color: darkslateblue;
        &::after{
            content: 'km';
        }
       
    }
    &__item4 {
        grid-column-start: 1;
        grid-column-end: 4;
        color: crimson;
    }
    &__item5 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    &__item6 {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    &__item7 {
        grid-column-start: 3;
        grid-column-end: 4;
    }
}

.temp-today {
    font-size: 4em;
    color: orangered;
    font-weight: 650;
    &__unit{
        font-size: 0.8em;
    }
}

.temp-container {
    display: flex;
    justify-content: center;
    button {
        display: block;
        background: none;
        border: none;
        font-weight: 600;
    }
}

.temp--active{
    font-size: 3em;
    margin-top: 0.4em;
    color: orangered;
}

.temp--disabled{
    font-size: 1em;
    color: rgba(255, 99, 71, .6);
    &:hover{
        background-color: lightgrey;
        border: 1px solid grey;
    }
}